<template>
<div>
  <navbar></navbar>
  <v-row v-if="hasFixtures">
    <v-grid s12 l8 offset-l2>
      <v-collection>
        <v-collection-item class="row bg-white tile" v-for="game in fixtures">
          <v-grid s2 bg-primary>
            <h4 class="center-align">
              <b>
                {{ game.day }}
              </b>
            </h4>
            <h5 class="center-align">
              {{ game.month.substring(0, 3).toUpperCase() }}
            </h5>
          </v-grid>
          <router-link class="col s10 center-align" :to="{name: 'prematch', params: {game_id: game.id}}">
            <div>
              <h5>
                {{ game.teams }}
              </h5>
              <v-icon class="md-dark md-middle">room</v-icon>
              <span class="text-detail"> {{ game.venue }}</span>
            </div>
          </router-link>
        </v-collection-item>
      </v-collection>
    </v-grid>
  </v-row>
</div>
</template>

<script>
import Navbar from './Navbar.vue'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'AllGames',

  components: {
    'navbar': Navbar
  },

  data() {
    return {}
  },

  mounted() {
    this.getFixtures();
  },

  methods: {
    ...mapActions([
      'getFixtures'
    ])
  },

  computed: {
    ...mapState([
      'fixtures'
    ]),
    hasFixtures() {
      return this.fixtures.length > 0
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../main.scss';

.collection {
  border: none;
  .collection-item {
    background-color: $white;
    border: 5px;
    margin: 5px 0;
    color: $black;
    padding: 0;
    a {
      color: $black;
    }
  }
}

.tile {
  margin-bottom: 5px;
}
.tile-item {
  color: $black;
}
</style>
