<template>
  <div id="body">
    <v-container>
      <router-view></router-view>
    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}


</script>

<style lang="sass">
@import '../main.scss';

html {
  font-family: $font-text;
}

.bg-primary {
  background-color: $primary-color;
  color: $white;
}

.bg-white {
  background-color: $white;
  color: $black;
}

.bg-green {
  background-color: $green-light;
  color: $primary-color;
}

.Oswald {
  font-family: $font-heading;
}

.thin-text {
  font-family: $font-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

input[type=email], input[type=password] {
  border-bottom: 1px solid $white;
  &:focus:not([readonly]) {
    border-bottom: 1px solid $white;
    box-shadow: 0 1px 0 0 $white;
  }
}

.text-detail {
  color: $grey;
}
</style>
