<template>
  <v-row v-if="game">
    <v-grid s12 l8 offset-l2>
      <v-row>
        <v-grid s12>
          <table>
            <tbody>
              <tr>
                <td><h6>{{ game.team_a}}</h6></td>
                <td class="right-align"><h6>{{ score.team_a}}</h6></td>
                <td class="center-align"><h6>{{ score.team_b}}</h6></td>
                <td class="right-align"><h6>{{ game.team_b }}</h6></td>
              </tr>
            </tbody>
          </table>
        </v-grid>
      </v-row>
      <v-collection>
        <v-collection-item class="row white switch-lane" v-for="action in actions">
          <div class="center-align">
            <i class="fa fa-lg teal-text" :class="'fa-' + action.icon" aria-hidden="true" v-if="action.fa"></i>
            <v-icon class="md-middle teal-text" v-if="!action.fa">{{action.icon}}</v-icon>
            <span><b>{{action.name.toUpperCase() }}</b></span>
          </div>
        </v-collection-item>
      </v-collection>
      <v-row>
        <v-grid s12 bg-green>
          <div class="teal switch-lane col s3 center-align">
            <v-icon class="md-36 white-text">timer</v-icon>
          </div>
        </v-grid>
      </v-row>
    </v-grid>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'GameMenu',

  data() {
    return {
      actions: [
        { name: 'Goal', icon: 'futbol-o', fa: true },
        { name: 'Foul', icon: 'medkit', fa: true },
        { name: 'Squad', icon: 'content_paste', fa: false},
        { name: 'Card', icon: 'flip_to_front', fa: false }, // alt: style
        { name: 'Penalty', icon: 'adjust', fa: false } // bullseye
      ],
      score: {
        team_a: 0,
        team_b: 0
      }
    }
  },

  computed: {
    ...mapState([
      'game'
    ])
  }
}

</script>

<style lang="sass">
.switch-lane{
  padding: 1.5rem 0 !important;
}
</style>
