<template>
<div>
  <br>
  <br>
  <v-row>
    <v-grid s12>
      <h4 class="center-align thin-text"><b>Umpire</b><span>Ref</span></h4>
    </v-grid>
  </v-row>
  <v-row>
    <v-grid s12 center-align>
      <i class="fa fa-futbol-o fa-5x" aria-hidden="true"></i>
    </v-grid>
  </v-row>
  <br>
  <br>
  <v-row>
    <v-grid s6 l4 offset-s3 offset-l4>
    <div class="input-field">
      <v-text-input name="email" type="email" id="email">
<!--         <template slot="icon-name">mail_outline</template> -->
      </v-text-input>
      <label for="email" class="white-text">Email</label>
    </div>
    </v-grid>
  </v-row>
  <v-row>
    <v-grid s6 l4 offset-s3 offset-l4>
    <div class="input-field">
      <v-text-input name="password" type="password" id="password">
        <!-- <template slot="icon-name">lock_outline</template> -->
      </v-text-input>
      <label for="password" class="white-text">Password</label>
    </div>
    </v-grid>
  </v-row>
  <v-row>
    <v-grid s12 center-align>
      <router-link :to="{ name: 'index' }" class="white-text">
        <small>Not registered? click here to sign up.</small>
      </router-link>
    </v-grid>
  </v-row>
</div>
</template>

<script>

</script>

<style lang="sass">

</style>
