<template>
<div>
  <v-side-nav id="settings">
    <v-row class="bg-white">
      <v-grid s12 center-align>
        <br>
        <v-icon class="md-dark md-middle">settings</v-icon>
        <span class="Oswald">Options</span>
      </v-grid>
    </v-row>
  </v-side-nav>
  <v-nav nav-class="bg-primary z-depth-0">
    <a href="javascript:void(0)"  v-side-nav:settings="nav">
      <v-icon class="md-36" :class="{ 'md-light' : !invert, 'md-dark' : invert }">menu</v-icon>
    </a>
  </v-nav>
</div>
</template>

<script>
export default {
  name: 'navbar',

  props: {
    inverted: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data() {
    return {
      invert: this.inverted,
      nav: {
        edge: 'left'
      }
    }
  }
}
</script>

<style lang="sass">
  .navbar {
    padding-top: 0.5rem;
  }
</style>
