<template>
<div>
<br>
  <v-row v-if="game">
    <v-grid s12 l8 offset-l2>
      <v-row>
        <router-link :to="{ name: 'index' }">
          <v-grid s2 offset-s10 l2 offset-l10>
            <v-icon class="md-36 white-text">clear</v-icon>
          </v-grid>
        </router-link>
      </v-row>
      <br>
      <router-link class="row" v-for="(logo, index) in logos" :to="{ name : 'get_game', params: { game_id: game.id ? game.id : 0}, query: { team_b: index ? true : null } }">
        <v-grid s2 center-align offset-s1>
          <v-icon class="md-48 logo-align white-text">{{ logo }}<v-icon>
        </v-grid>
        <v-grid s8>
          <h4 class="white-text">{{ index == 0 ? game.team_a : game.team_b }}</h4>
        </v-grid>
      </router-link>
      <br>
      <br>
      <v-row>
        <router-link :to="{ name: 'game_menu' }" class="bg-green">
          <v-grid s10 offset-s1 bg-green>
          <br>
            <p class="center-align"><v-icon class="md-middle">timer</v-icon> Click to Kick Off</p>
          <br>
          </v-grid>
        </router-link>
      </v-row>
    </v-grid>
  </v-row>
</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'prematch',

  data() {
    return {
      logos: ['stars', 'invert_colors']
    }
  },

  mounted() {
    this.getGame(this.$route.params.game_id);
  },

  methods: {
    ...mapActions([
      'getGame'
    ])
  },
  computed: {
    ...mapState([
      'game'
    ])
  }
}
</script>

<style lang="sass">
  .logo-align {
    margin-top: 0.75rem;
  }
</style>
