<template>
  <v-row v-if="game">
    <v-grid s12 l8 offset-l2>
      <v-row>
        <v-grid s2 center-align>
          <v-icon class="md-light md-36 h4-icon">edit</v-icon>
        </v-grid>
        <v-grid s8 v-on:click="toggleTeams()">
          <h4 class="center-align">{{ team_a ? game.team_a : game.team_b }}</h4>
        </v-grid>
        <router-link class="col s2 center-align" :to="{name: 'index'}">
          <v-icon class="md-light md-36 h4-icon">close</v-icon>
        </router-link>
      </v-row>
      <v-row>
        <v-grid s12>
          <table>
            <tbody>
              <tr v-for="(player, index) in players">
                <td class="center-align">
                  {{index+1}}
                </td>
                <td>
                  {{player}}
                </td>
              </tr>
            </tbody>
          </table>
        </v-grid>
      </v-row>
    </v-grid>
  </v-row>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'SingleGame',

  data() {
    return {
      team_a: true // Determines the current team in view
    }
  },

  mounted() {
    // Prepopulate the screen
    this.getGame(this.$route.params.game_id)
      .then((response) => {
        // show team_b if query is true
        this.team_a = this.$route.query.team_b ? false : true
      })
  },

  methods: {
    ...mapActions([
      'getGame'
    ]),

    // Toggle view between team_a and team_b
    toggleTeams() {
      this.team_a ? this.team_a = false : this.team_a = true
    }
  },

  computed: {
    ...mapState([
      'game'
    ]),
    // Returns a list of players based on current team
    players() {
      return this.team_a ? this.game.team_a_players : this.game.team_b_players
    }
  }
}
</script>

<style lang="sass">
  .h4-icon {
    margin: 1.14rem 0 0.912rem 0;
  }
</style>
