// Colors
$primary-color: #00838f;
$green-light: #e8f5e9;
$white: #fafafa;
$red: #dc133d;
$red-light: #c96278;
$black: #2a2430;
$grey: #7a7a7a;
$blue: #01579b;
$yellow: #ffd783;

// fonts
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');
$font-heading: 'Oswald', sans-serif;
$font-text: 'Raleway', sans-serif;

// md
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-74 { font-size: 74px; }
.material-icons.md-middle { vertical-align: middle; }
